# .gitignore file for RidgeRun OMX plugin 0.10

# editor derived files
*~
*.bak

# autotools derived files
Makefile.in
Makefile.in
aclocal.m4
autom4te.cache
config.*
configure
depcomp
install-sh
ltmain.sh
missing

